@font-face {
  font-family: "cursive";
  src: url("../fonts/Dancing_Script/static/DancingScript-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "cursive";
  src: url("../fonts/Dancing_Script/static/DancingScript-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "cursive";
  src: url("../fonts/Dancing_Script/static/DancingScript-Regular.ttf") format("opentype");
}
@font-face {
  font-family: "cursive";
  src: url("../fonts/Dancing_Script/static/DancingScript-Regular.ttf") format("opentype");
}