.editorSpace{
    padding: 2vw;
    .titleHolder{
        border: none;
        border-bottom: 1px solid gray;
        outline: none;
        font-size: 24px;
        width: 100%;
        margin-bottom: 2vh;
    }
    .submitBtn {
        border: none;
        padding: 1vh 2vw;
        font-size: 15px;
        margin-top: 2vh;
    }
}